.NavBar {
    background-color: #0d101b;
    float: left;
    min-width: 250px;
    font-size: 18px;
    min-height: 710px;
}

.NavBarItem {
    color: white;
    text-decoration: none;
}

.NavBarItemWrapper {

    padding: 7px 0 0 55px;
}

.NavBarItemWrapper a.active {
    font-size: 20px;
    color: #1b91ff;
}