.FormControl.Error input,
.FormControl.Error textarea {
    border: 2px solid #CC0000;
}

.FormControl.Error span {
    color: #CC0000
}

.FormSummaryError {
    text-align: center;
    border: 2px solid #CC0000;
    padding: 5px;
    color: #CC0000;
}

