.User {
    float: left;
    border: 2px solid #080811;
    max-width: 132px;
    min-width: 132px;
    margin: 11px;
    border-radius: 15px;
    text-align: center;
}
.UserImage {
    width: 100px;
/*    padding: 5px 5px*/
}

.UserName {
/*    padding: 5px 5px;*/
}

.UserButton button {
    color: #fff;
    border: 2px solid #1b91ff;
    background: none;
    text-align: center;
    border-radius: 25px;
    width: 80px;
    height: 30px;
    transition: 0.25s;
    cursor: pointer;
    margin: 10px 10px;
}


.UserButton button:focus {
    outline: none;
}

.UserButton button:hover {
    background-color: #1b91ff;
    text-shadow: -1px 1px #27496d;
}

.UserButton button:active {
    background-color: #27496d;
    text-shadow: -1px 1px #193047;
}

