.selectedPage {
    color: #1b91ff;
    font-weight: bold;
}

.Paginator {
    margin-top: 20px;
    width: 100%;
    float: right;
    text-align: center;
    font-size: 18px;
}

.Paginator button {
    color: #fff;
    border: 2px solid #1b91ff;
    background: none;
    text-align: center;
    border-radius: 25px;
    width: 80px;
    height: 30px;
    transition: 0.25s;
    cursor: pointer;
    margin: 10px 10px;
}

.Paginator button:focus {
    outline: none;
}

.Paginator button:hover {
    background-color: #1b91ff;
    text-shadow: -1px 1px #27496d;
}

.Paginator button:active {
    background-color: #27496d;
    text-shadow: -1px 1px #193047;
}
